  <link rel="stylesheet" type="text/css" media="all" href="{{ url_for('static', filename='css/style.css') }}">
{% extends "base/default-page.html" %}

{% block content %}
<!-- Page Header -->
<header class="masthead">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>Add Blog</h1>
        </div>
      </div>
    </div>
  </div>
</header>

 <form method="POST" enctype="multipart/form-data">
      {{ form.csrf_token }}

                    {{ form.title.label }}
                    {{ form.title }}
                    {{ form.subtitle.label }}
                    {{ form.subtitle}}
                    {{ form.author.label }}
                    {{ form.author }}
                    {{ form.content.label }}
                    {{ form.content}}
                    {{ form.upload_picture.label }}
            {{ form.upload_picture(class="form-control custom-file-button", onchange="loadFile(event)", type="file", accept="image/*") }}
            {% if 'edit' in request.path and post.picture %}
            <img class="mt-3" id='output' style="width: auto; height: 360px; border-radius: 1rem;"
                src="{{ url_for('accounts.get_image', post_id=post.id, filename=post.picture.filename, get_type='thumbnail') }}">
            {% endif %}

    <div class="text-end float-button form-row my-3">
        <button name="create" type="submit" class="btn btn-primary">
        {% if 'edit' in request.path %}

          edit

          {%endif%}
          {% if 'add' in request.path %}

          add
          {%endif%}
        </button>
      </div>


</form>
{% endblock %}